@import "tailwindcss";

@theme {
    --font-sans: 'Inter', 'Manrope', system-ui, sans-serif;

    --color-primary: #F97316;
    --color-primary-foreground: #ffffff;

    --color-secondary: #991B1B;
    --color-secondary-foreground: #ffffff;

    --color-muted: #FEF3C7;
    --color-muted-foreground: #78350F;

    --color-accent: #FCD34D;
    --color-accent-foreground: #78350F;

    --color-destructive: #DC2626;
    --color-destructive-foreground: #ffffff;

    --color-border: #FED7AA;
    --color-input: #FED7AA;
    --color-ring: #F97316;

    --radius-lg: 0.5rem;
    --radius-md: calc(0.5rem - 2px);
    --radius-sm: calc(0.5rem - 4px);
}

/* Custom Utilities */
@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >=1400px) {
        max-width: 1400px;
    }
}

/* Base Styles */
@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-orange-50 text-slate-900 font-sans antialiased;
    }
}




:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
}